@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
* {
  box-sizing: border-box;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
}
