.auth-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    background-color: black;
    color: white;
}

.auth-form-wrapper {
    background-color: #1a1a1a;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 13, 0, 0.523); 
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.auth-form-wrapper h2 {
    color: #e50914;
    margin-bottom: 1.5rem;
}

.auth-form-wrapper input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
}

.auth-form-wrapper input:focus {
    outline: none;
    border-color: #e50914;
}

.auth-btn {
    width: 100%;
    padding: 10px;
    background-color: #e50914;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.auth-btn:hover {
    background-color: #e50914;
}

.auth-error {
    color: #e50914;
    margin-bottom: 1rem;
    background: rgba(255, 0, 0, 0.1);
    padding: 5px;
    border-radius: 4px;
}

.auth-redirect {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.auth-redirect a {
    color: #e50914;
    text-decoration: none;
}

.auth-redirect a:hover {
    text-decoration: underline;
}