.header {
  position: relative;
  background-color: #111111;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 10px 20px;
  z-index: 100;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  gap: 50px;
}

.logo-icon {
  color: white;
  font-size: 1.6rem;
}

.logo-text {
  font-weight: 600;
  font-size: 2rem;
  color: #e50914;
  user-select: none;
}

.nav-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 55px;
}

.nav-btn {
  background: none;
  border: 1px solid white;
  color: white;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  padding: 6px 40px;
  transition: color 0.3s;
}

.nav-btn:hover {
  color: #e50914;
  border: 1px solid #e50914 ease-in .3s;
}

.search-container {
  position: absolute;
  top: 100%;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  background: #fff;
  border: 2px solid #e50914;
  border-radius: 8px;
  padding: 8px 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  z-index: 999;
}

.search-container input {
  border: none;
  outline: none;
  font-size: 0.95rem;
  width: 180px;
}

.search-go {
  background: #e50914;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.search-go:hover {
  background: #b40811;
}

.search-error {
  color: red;
  font-size: 0.85rem;
  margin-left: 10px;
}

.movie-toast {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  background: #111;
  color: #fff;
  border-radius: 10px;
  padding: 8px 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  z-index: 1000;
  animation: fadeInOut 3s ease forwards;
}

.movie-toast img {
  width: 50px;
  height: 70px;
  border-radius: 5px;
  margin-right: 10px;
  object-fit: cover;
}

.movie-toast-info h4 {
  font-size: 1rem;
  margin: 0;
}

.search-results {
  position: absolute;
  top: 80px;
  right: 0px;
  width: 280px;
  max-height: 400px;
  overflow-y: auto;
  background-color: #1f1f1f;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  z-index: 10;
  transition: all 0.3s ease-in-out;
}

.search-result-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.search-result-item:hover {
  background-color: #333;
}

.search-result-item img {
  width: 45px;
  height: 65px;
  border-radius: 6px;
  object-fit: cover;
}

.search-result-info h4 {
  margin: 0;
  font-size: 14px;
  color: white;
}

.search-result-info p {
  margin: 0;
  font-size: 12px;
  color: #aaa;
}

@keyframes fadeInOut {
  0% {
    opacity: 0; transform: translate(-50%, -10px); 
  }
  10%, 90% {
    opacity: 1; transform: translate(-50%, 0); 
  }
  100% { 
    opacity: 0; transform: translate(-50%, -10px); 
  }
}